body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  button.correct {
    background-color: green;
    color: white;
  }
  
  button.incorrect {
    background-color: red;
    color: white;
  }
  
  .correct-answer {
    color: green;
  }
  
  .incorrect-answer {
    color: red;
  }
  
  button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .quiz-container {
    padding: 20px;
  }
  
  .quiz-question {
    margin-bottom: 15px;
  }
  
  .quiz-options {
    display: flex;
    flex-direction: column;
  }
  
  .quiz-options button {
    margin-bottom: 5px;
  }
  
.nav-links a {
    font-size: 2em; /* H1 size */
    color: rgb(186, 186, 186); /* White font color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s;
  }

  .nav-links a:hover {
    color: rgb(255, 134, 28); /* Optional: change color on hover */
  }

  .quiz-topic a {
    font-size: 1em;
    color: rgb(186, 186, 186); /* White font color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s;
    padding: 10px;
  }

  .quiz-topic a:hover {
    color: rgb(255, 134, 28);
  }

  /* global.css */
.container {
    padding: 2rem;
  }
  
  .topics-list {
    list-style-type: none;
    padding: 0;
  }
  
  .doc-topic a {
    text-decoration: none;
    color: blue;
    font-size: 1.5rem;
  }
  
  .doc-topic a:hover {
    text-decoration: underline;
  }
  